*.axf
*.htm
*.Inp
*.map
*.tra
*.dep
*.__i
*.crf
*.d
*.o
*.lst
*.lnp
*.bak
*.Vishwas
*.bin
*.fed
*._2i
*.l1p
*.l2p
*.iex
.#*
*.uvgui.*
*.uvopt
*.uvoptx
/Drivers/
MDK-ARM/uusboard_2.uvguix.Jorgen
MDK-ARM/uusboard_2.uvoptx
MDK-ARM/uusboard_2.uvprojx
